

.projeto{
    background-color: rgb(220, 220, 220);
    width: 400px;
    display: inline-block;
}

.projeto p{
    margin:auto;
    text-align: center;
    padding: 10px;
}

.projeto .titulo{
    background-color:rgb(38, 113, 222)  ;
    color: white;
    text-align: center;
}

